/* 
Portfolio - Bootstrap 
créé le 24/04/2023
Auteur : Sandrine Faucher 
*/

/* fonts :
Google font = "Tajawal", sans serif;
"Permanent Marker", cursive;

*/


/* colors : 
gris (bronze à canon) = #2D3142;
gris (gris de payne) = #4F5D75; 
corail = #EF8354;

*/

/* Global */

body {
    margin:0;
    paddiing:0;
    margin-top: 200px;

}

h1 {
    font-family: "Permanent Marker", cursive;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 30px;
    color: #2D3142;
    rotate: -2deg;
}

h2 {
    font-family: "tajawal", sans serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #2D3142;
}

h2::after {
    display: block;
    border-bottom: 6px #EF8354 dotted;
    height: 2px;
    width: 500px;
    content: "";
    margin: 0 auto;
    margin-top: 30px;

}

h3 {
    font-family: "tajawal", sans serif;
    font-size: 30px;
    color: #4F5D75;
    font-weight: 600;
    text-align: center;
    padding: 10px;

}

p {
    font-family: "tajawal", sans serif;
    font-weight: 600;
    font-size: x-large;
    text-justify: inter-word;

    color: #4F5D75;
}

section {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}








/* HEADER - NAVBAR */
.navbar {
    box-shadow: 5px 5px 20px #4F5D75;
}
nav img {
    width: 200px;
    margin-left: 30px;
}
.navbar-nav {
    font-family: "tajawal", sans serif;
    font-weight: 600;
    font-size: x-large;
}
.navbar-nav a {
    margin: 20px;
    color: #4F5D75
}

/* SECTION 1 : profil */


#profil img {
    width: 95%;
    height: auto;
    margin: 30px;
    border-radius: 10px;

}

#profil p {

    margin-left: 50px;
    margin-top: 20px;
    text-align: justify;
}

button {
    padding: 10px;
    background-color: #EF8354;
    border-radius: 10px;
    border-color: #EF8354;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;

}

/* SECTION 2 : compétences */


#competences img {
    display: block;
    margin: auto;
    width: 40%;
    padding:10px;
}

#competences p {
    font-size: 18px;
    margin-bottom: 0;
    color: #4F5D75;
    text-align: justify;
    padding: 15px;
}

.vignettes {

    box-shadow: 0 0 5px #4F5D75;
    color: #2D3142;
    border-radius: 20px;
    margin: 3px;
    padding: 3px;
    height: 400px;
    
}
#competences .image-secretaire{
    width: 35%;
}



/* TECHNOLOGIES - LOGICIELS & OUTILS */

#technologies img {

    width: 120px;
    text-align: center;
    margin: 15px;
}

.outils {
    background: linear-gradient(#EF8354, #ffff);
    height: 600px;
    border-radius: 20px;
    margin: auto;

}

#technologies h3 {
    color: white;
}


/* PORTFOLIO  */

#portfolio .mobile {
    rotate: -20deg;
}

.top-left-square {
    width: 50%;
    height: auto;
    background-color: #4F5D75;
    background: linear-gradient(#ffff, #4F5D75);
    border-radius: 200px 200px 0px 150px;
    padding-top: 40px;
}

#portfolio h3 {
    color: #2D3142 !important;
    font-size: 25px;
    
}

#portfolio a {
    text-decoration: none;
}

.top-right-square {
    width: 50%;
    height: auto;
    background-color: #EF8354;
    background: linear-gradient(#ffff, #EF8354);
    border-radius: 200px 200px 150px 0px;
    padding-top: 40px;
}

.bottom-left-square {
    width: 50%;
    height: auto;
    background-color: #EF8354;
    background: linear-gradient(#EF8354, #ffff);
    border-radius: 150px 0px 200px 200px;
    padding-bottom: 40px;
}

.bottom-right-square{
    width: 50%;
    height: auto;
    background-color: #4F5D75;
    background: linear-gradient(#4F5D75, #ffff);
    border-radius: 0px 150px 200px 200px;
    padding-bottom: 40px;
}

.ordi {
    width: 350px;
    margin: 30px;
}

/* CONTACT  */

#contact {
    background: linear-gradient(#ffff, #EF8354);
}

#contact img {
    width: 30px;
    margin: 20px;
}

#contact p {
    color: #2D3142;
    font-weight: 1000;
}

/* MEDIA QUERIES  */

/* Media querie - 1024  (tabelletes et téléphones) */

@media screen and (max-width: 1100px) {
    #portfolio h3 {
        font-size: 20px;
    }

    #portfolio img {
        width: 250px;
    }

    #portfolio .mobile {
        width: auto;

    }
}


@media screen and (max-width: 992px) {
    .outils {
        height: auto;
    }

    .top-left-square,
    .top-right-square {
        width: 100%;
        height: auto;
        border-radius: 50px 50px 50px 50px;

    }

    .bottom-left-square,
    .bottom-right-square {
        width: 100%;
        height: auto;
        border-radius: 50px 50px 50px 50px;
    }

    .vignettes {
        height: auto;
    }
}